body {
  background-color: lightsalmon;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100vh;
}

* {
  margin: 0;
}

nav {
  height: 50px;
  width: 100vw;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 15px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
}

a:hover {
  text-decoration: underline;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-style: italic;
  color: crimson;
  border: 3px dotted blue;
  padding: 20px;
  border-radius: 50%;
  display: inline;
  margin-bottom: 25px;
}

h1:hover {
  background-color: lime;
}

h3 {
  color: lime;
  margin-bottom: 15px;
}

p {
  width: 200px;
  border: 2px dashed black;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

p:hover {
  background-color: hotpink;
}

div {
  width: 200px;
  border: 3px solid grey;
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
}

div:hover {
  background-color: yellow;
}

h2 {
  text-decoration: underline;
  margin-bottom: 10px;
}

#spelare1 {
  color: red;
}

#spelare2 {
  color: green;
}

#spelare3 {
  color: blue;
}
