* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

#topNav {
  height: 75px;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
}

#topNav > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 15px;
}

#topNav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
}

.topNav {
  color: black;
  font-size: 1.2em;
  font-style: italic;
  text-decoration: none;
  margin-left: 50px;
}

a:hover {
  text-decoration: underline;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/html-css/dag-2/assets/m8.jpeg");
}

main > p {
  font-size: 1.2em;
}

h1 {
  font-style: italic;
}
